<div class="home__section">
	<a href="{{relative_path}}learn.html" class="blog-detail__back">
		Back
		<img class="blog-detail__back-icon" src="{{relative_path}}images/back.svg" alt="Back Arrow">
	</a>
	<h1 class="home__title">How does an Atomic Clock Work?</h1>
</div>

<div class="home__section">
	<div class="how">
		<h4 class="how__title">Time</h4>
		<div class="how__third">
			<h5 class="how__sub-title">How is time measured?</h5>
			<p class="how__paragraph">
				Time is measured by a set of predetermined intervals. The most basic unit of time is the second.
			</p>
		</div>
		<div class="how__third">
			<h5 class="how__sub-title">What do we use to measure time?</h5>
			<p class="how__paragraph">
				Many things have been used to measure a second. Kids on the playground often count seconds by saying the word "Mississippi."
				Old clocks used pendulumns to keep time, relying on their stedy oscillation. However, these methods are highly inaccurate
				over time.
			</p>
		</div>
		<div class="how__third">
			<img src="{{relative_path}}images/learn-watch.jpg" class="how__image" alt="Clock">
		</div>
	</div>
	<div class="how">
		<h4 class="how__title">Quartz</h4>
		<div class="how__third">
			<h5 class="how__sub-title">What do use in clocks now?</h5>
			<p class="how__paragraph">
				In 1972 we started using quartz crystals as a way to measure a second. When you "tap" quartz with an electric pulse it resonates
				at a specific frequency.
			</p>
		</div>
		<div class="how__third">
			<h5 class="how__sub-title">What makes quartz so special?</h5>
			<p class="how__paragraph">
				While many materials can be caused to resonate, quartz is a piezoelectric material. That means that when it resonates it
				produces electric pules of its own. We use those electric pulses as a sort of pendulum to keep time.
			</p>
		</div>
		<div class="how__third">
			<img src="{{relative_path}}images/learn-rock.jpg" class="how__image how__image--rock" alt="Rock">
		</div>
	</div>
	<div class="how">
		<h4 class="how__title">Quartz</h4>
		<div class="how__third">
			<h5 class="how__sub-title">What do I need to know about atoms?</h5>
			<p class="how__paragraph">
				Atoms consist of three particles: protons, neutrons, and electrons. The nucleus of an atom is made up of the protons and
				neutrons, while the smaller electrons oscillate around the outside of the atom. When exposed to a wave that matches the
				atom's resonant frequency, the electrons absorb some of that energy and jup to a higher energy state.
			</p>
		</div>
		<div class="how__third">
			<h5 class="how__sub-title">Why do we use atoms in clocks?</h5>
			<p class="how__paragraph">
				While quartz is quite accurate in measuring time, its vibrations can be influenced by imperfections from manufacturing processes
				and even subtle changes in the environment. Atoms on the other hand are extremely reliable as they aren't influenced
				by any of these factors.
			</p>
		</div>
		<div class="how__third">
			<img src="{{relative_path}}images/learn-atom.jpg" class="how__image" alt="Atom">
		</div>
	</div>
	<div class="how">
		<h4 class="how__title">Quartz</h4>
		<div class="how__third">
			<h5 class="how__sub-title">How do we use atoms in clocks?</h5>
			<p class="how__paragraph">
				In 1967 we decided to use Cesium 133 to help us measure time. One second became defined as 9,192,631,770 oscillations of
				a Cesium 133 atom - its resonant frequency. The process begins by "tapping" quartz so that is resonates at the same frequency.
				This, in turn, will produce an electric pulse that creates a wave of that frequency. When this wave hits the Cesium it
				causes the electrons to jump to their higher energy state. A detector then measures those energy levels to make sure
				it stays constant.
			</p>
		</div>
		<div class="how__third">
			<h5 class="how__sub-title">How accurate are atomic clocks?</h5>
			<p class="how__paragraph">
				One of the amazing things about atomic clocks is that they are self-regulating. If the quartz begins to oscillate at a lower
				frequency, the Cesium electrons will not maintain their higher energy levels and the detector will sense an irregularity.
				An additional jolt of electricity will be sent to the quartz crystal to help it return to its resonating frequency of
				9,192,631,770 oscillations per second. This creates a feedback loop so accurate that it would take 138 million years
				for it to be off by a second.
			</p>
		</div>
		<div class="how__third">
			<img src="{{relative_path}}images/learn-flow.jpg" class="how__image" alt="Flow">
		</div>
	</div>
</div>