<div class="home__section">
	<h1 class="home__title">The PublicNTP Blog</h1>
	<p class="home__sub-title">
		Follow our journey to bring accurate time to the world.
	</p>
</div>
<div class="home__section">
	<div class="blog__search-bar-wrap">
		<input id="search-input" class="blog__search-input blog__search-input-hide" placeholder="Search" autocomplete="off" tabindex="2">
		<img class="blog__x" src="{{relative_path}}images/x.svg" alt="Close">
		<div class="blog__search-item-wrap blog__search-input-hide">
		</div>
	</div>
	<div class="blog__sidebar">
		<p class="blog__search" tabindex="1">Search</p>
		<div class="time">
			{{#each timeline}}
			<div>
				<p class="time__year">
					{{this.year}}
					<img src="{{relative_path}}images/down.png" class="time__icon" alt="Down Arrow">
				</p>
				{{#each this.months}}
				<div class="time__wrap time__closed">
					<p class="time__month">{{this.month}}
						<p>
							{{#each this.posts}}
							<a href="{{relative_path}}blog/posts/{{this.permalink}}.html" class="time__post">
								{{this.title}}
							</a>
							{{/each}}
				</div>
				{{/each}}
			</div>
			{{/each}}
		</div>
	</div>
	<div class="blog__wrap">
		<div class="blog__bar"></div>
		{{#each posts}}
		<div class="blog">
			<a href='{{../relative_path}}blog/posts/{{this.permalink}}.html' class="blog__left-wrap">
				<h2 class="blog__title">
					{{this.title}}
				</h2>
				<p class="blog__time">
					{{{this.time}}}
				</p>
			</a>
			<a href='{{../relative_path}}blog/posts/{{this.permalink}}.html' class="blog__excerpt">
				{{this.excerpt}}
			</a>
			<a href='{{../relative_path}}blog/posts/{{this.permalink}}.html'>
				{{#if this.image_urls.[0]}}
				<img class="blog__image" src="{{../relative_path}}{{this.image_urls.[0].url}}" alt="this.image_urls.[0].alt"> {{/if}}
			</a>
		</div>
		{{/each}}
		<div class="blog__page-prev">
			{{#if prev}}
			<a href="{{relative_path}}{{prev}}" class="blog__page">Newer Posts</a>
			{{/if}}
		</div>
		<div class="blog__page-next">
			{{#if next}}
			<a href="{{relative_path}}{{next}}" class="blog__page">Older Posts</a>
			{{/if}}
		</div>
	</div>
</div>
<p id="deserializedPosts" class="hide">{{deserializedPosts}}</p>

<script defer src="{{relative_path}}js/search.js"></script>
<script defer src="{{relative_path}}js/blog.js"></script>
