<div class="home__section">
	<a href="{{relative_path}}blog.html" class="blog-detail__back">
		Back
		<img class="blog-detail__back-icon" src="{{relative_path}}images/back.svg" alt="Back Arrow">
	</a>
</div>
<div class="home__section">
	<h1 class="home__title">{{post.title}}</h1>
</div>
<div class="home__section">
	<p class="blog-detail__time blog-detail__time-main">
		{{{post.time}}}
	</p>
	<div class="blog-detail__side">
		{{#each post.image_urls}}
		<img class="blog-detail__image" src="{{../relative_path}}{{this.url}}"  alt="{{this.alt}}">
		<div class="node-clear"></div>
		{{/each}}
	</div>
	<div class="blog-detail__swiper swiper-container">
		<div class="swiper-wrapper">
			{{#each post.image_urls}}
			<img class="blog-detail__simage swiper-slide" src="{{../relative_path}}{{this.url}}" alt="{{this.alt}}"> {{/each}}
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="blog-detail__content">
		<p class="blog-detail__time blog-detail__time-mobile">
			{{{post.time}}}
		</p>
		<div class="blog-detail__article">
			{{{post.content}}}
		</div>
	</div>
</div>

<div class="home__section"></div>
<div class="home__section"></div>

<script defer src="{{relative_path}}js/swiper.min.js"></script>
<link rel="stylesheet" href="{{relative_path}}css/swiper.min.css">
<script defer src="{{relative_path}}js/swipe.js" async></script>
