<div class="home__section">
  <a href="{{relative_path}}learn.html" class="blog-detail__back">
    Back
    <img class="blog-detail__back-icon" src="{{relative_path}}images/back.svg" alt="Back Arrow">
  </a>
  <h1 class="home__title">“-Ology-of-ologies”: Chrono and Friends</h1>
  <p class="home__sub-title">
    Terry D. Ott - 2017-06-18, 7:58pm EDT (UTC -0400)
  </p>
</div>
<div class="home__section">
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">Introduction</h4>
      <p class="how__p">
        When I first got interested in the Network Time Protocol, I would joke with friends that I was an amateur chronologist.
      </p>
      <p class="how__p">
        One friend smiled knowingly at me and said, “I would encourage you to look up the definition of ‘chronology,’ Terry. Suspect
        you’ll find out you’re misusing that word."
      </p>
      <p class="how__p">
        Chrono: time. -logy: the study of something. That should work, right?
      </p>
      <p class="how__p">
        Turns out, not quite.
      </p>
      <p class="how__p">
        As I care about a time down to a microsecond, clearly accuracy matters to me. That often carries over to my use of English,
        too.
      </p>
      <p class="how__p">
        Time to go find the right word!
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-tallclock.jpg" alt="PublicNTP Clock">
    </div>
  </div>
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">Chronology</h4>
      <p class="how__p">
        Chronology is the science/study of ascertaining the order that historical dates/events occurred.
      </p>
      <p class="how__p">
        Nope, not the word I wanted. So chrono is wrong. I am trying to measure time. After a brief search, I found the prefix for
        measurement is “metro.”
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-book.jpg" alt="PublicNTP Book">
    </div>
  </div>
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">Metrology</h4>
      <p class="how__p">
        Metrology is the science of weights and measures; the study of units of measurement.
      </p>
      <p class="how__p">
        Closer, but still too general—I am not talking about measuring anything, can we be more specific and get it to measurement
        of time?
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-ruler.jpg" alt="PublicNTP Ruler">
    </div>
  </div>
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">Horology</h4>
      <p class="how__p">
        After a bit of searching, I found it:
      </p>
      <p class="how__p">
        Horology is the science of making timepieces or measuring time.
      </p>
      <p class="how__p">
        It comes from the greek word hour, for “season.” While “study of the seasons” isn’t a great direct translation, it’s still
        the word I was looking for.
      </p>
      <p class="how__p">
        As a result of this little research endeavor, instead of calling myself an “amateur chronologist,” I now refer to myself
        as an “amatueur horologist,” and can now be confident I am not misusing any of the words!
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-watch.jpg" alt="PublicNTP Watch">
    </div>
  </div>
</div>