<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div class="home__section">
  <h1 class="home__title">Governance</h1>
  <p class="home__sub-title">We operate with transparency. Feel free to browse our company's governing documents by clicking
    any item's title.</p>
</div>

<div class="home__section">

  {{!--
  <div class="governance__search">Search</div> --}}

  <div class="governance__wrapper" id="documents">

    <div class="sort sort__btn" data-sort="date">
      Order by ▼
    </div>

    <div class="governance__divider"></div>
    <div class="governance__divider--end"></div>

    <div class="list">

      {{!-- IRS 2018--}}
      <div class="governance__block">
        <div class="governance__title">
          <a href="{{relative_path}}documents/pntp_irs_filing_2018.pdf" target="_blank">IRS Tax Filing - 2018</a>
          <span class="governance__date date">11-18-2019</span>
        </div>
        <div class="governance__text">
          Tax filing with the IRS in 2018.
        </div>
      </div>

      {{!-- IRS 2017--}}
      <div class="governance__block">
        <div class="governance__title">
          <a href="{{relative_path}}documents/pntp_irs_filing_2017.pdf" target="_blank">IRS Tax Filing - 2017</a>
          <span class="governance__date date">06-11-2018</span>
        </div>
        <div class="governance__text">
          Tax filing with the IRS in 2017.
        </div>
      </div>

      {{!-- Bylaws --}}
      <div class="governance__block">
        <div class="governance__title">
          <a href="{{relative_path}}documents/bylaws.pdf" target="_blank">Bylaws</a>
          <span class="governance__date date">08-22-2017</span>
        </div>
        <div class="governance__text">
          Compilation of rules or laws established by our organization to regulate itself, as allowed or requested by some higher authority.
        </div>
      </div>

      {{!-- Certificate --}}
      <div class="governance__block">
        <div class="governance__title">
          <a href="{{relative_path}}documents/1023_filing.pdf" target="_blank">1023 Filing</a>
          <span class="governance__date date">07-28-2017</span>
        </div>
        <div class="governance__text">
          Application to the IRS for federal tax-exempt 501(c)(3) public charity status.
        </div>
      </div>

      {{!-- 501(c) --}}
      <div class="governance__block">
        <div class="governance__title">
          <a href="{{relative_path}}documents/acceptance_letter.pdf" target="_blank">501(c)(3) Acceptance</a>
          <span class="governance__date date">07-28-2017</span>
        </div>
        <div class="governance__text">
          Document issued by the IRS formally granting 501(c)(3) public charity status.
        </div>
      </div>

      {{!-- Certificate --}}
      <div class="governance__block">
        <div class="governance__title">
          <a href="{{relative_path}}documents/certificate_of_incorp.pdf" target="_blank">Certificate of Incorporation</a>
          <span class="governance__date date">07-26-2017</span>
        </div>
        <div class="governance__text">
          Document issued by the state of Virginia when our application to form PublicNTP was approved.
        </div>
      </div>

      {{!-- Incorporation --}}
      <div class="governance__block">
        <div class="governance__title">
          <a href="{{relative_path}}documents/articles_of_incorp.pdf" target="_blank">Articles of Incorporation</a>
          <span class="governance__date date">07-25-2017</span>
        </div>
        <div class="governance__text">
          Acts as a charter to establish the existence of PublicNTP in the United States and Canada, and is filed with the Secretary
          of State, or other company registrar. Also referred to as the Certificate of Incorporation or the Corporate Charter.
        </div>
      </div>

      {{!-- Financials --}} {{!--
      <div class="governance__block">
        <div class="governance__title">
          Quaterly Financials
          <span class="governance__date date">MAR 26, 2017</span>
        </div>
        <div class="governance__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div> --}} {{!-- Audit --}} {{!--
      <div class="governance__block">
        <div class="governance__title">
          2016 Audit Reports
          <span class="governance__date date">MAR 26, 2017</span>
        </div>
        <div class="governance__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div> --}} {{!-- Tax --}} {{!--
      <div class="governance__block">
        <div class="governance__title">
          2016 Tax Filing
          <span class="governance__date date">JAN 14, 2017</span>
        </div>
        <div class="governance__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div> --}} {{!-- Post Options --}} {{!--
      <div class="governance__block governance__center">
        <div class="governance__post">Older Posts</div>
        <div class="governance__post governance__post--center">Newer Posts</div>
        <div class="governance__post"></div>
      </div> --}}
    </div>

  </div>

</div>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script defer src="{{relative_path}}js/govern.js"></script>
