<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div class="home__section">
	<h1 class="home__title">Governance</h1>
	<p class="home__sub-title">We operate with transparency. Feel free to browse our company's governing documents by clicking any item's title.
  </p>
</div>

<div class="home__section">
  
  {{!-- <div class="governance__search">Search</div> --}}

  <div class="governance__wrapper">
    <div class="governance__divider"></div>
    <div class="governance__divider--end"></div>
    
    {{!-- Incorporation --}}
    <div class="governance__block">
      <div class="governance__title">
        <a href="{{relative_path}}documents/articles_of_incorp.pdf" target="_blank">Articles of Incorporation</a>
        <span class="governance__date">MAR 26, 2017</span>
      </div>
      <div class="governance__text">
        Articles of incorporation, also referred to as the certificate of incorporation or the corporate charter, act as a charter to establish the existence of a corporation in the United States and Canada, and are filed with the Secretary of State, or other company registrar.
      </div>
    </div>

    {{!-- Bylaws --}}
    <div class="governance__block">
      <div class="governance__title">
        <a href="{{relative_path}}documents/bylaws.pdf" target="_blank">Bylaws</a>
        <span class="governance__date">JAN 14, 2017</span>
      </div>
      <div class="governance__text">
        A bylaw is a rule or law established by an organization or community to regulate itself, as allowed or provided for by some higher authority.
      </div>
    </div>

    {{!-- 501(c) --}}
    <div class="governance__block">
      <div class="governance__title">
        <a href="{{relative_path}}documents/acceptance_letter.pdf" target="_blank">501(c)(3) Acceptance</a>
        <span class="governance__date">MAR 26, 2017</span>
      </div>
      <div class="governance__text">
         Document issued by the IRS formally granting 501(c)(3) public charity status.
      </div>
    </div>

    {{!-- Certificate --}}
    <div class="governance__block">
      <div class="governance__title">
        <a href="{{relative_path}}documents/certificate_of_incorp.pdf" target="_blank">Certificate of Incorporation</a>
        <span class="governance__date">MAR 26, 2017</span>
      </div>
      <div class="governance__text">
        Document issued by the state of Virginia when your application to form a new company is approved.
      </div>
    </div>

    {{!-- Certificate --}}
    <div class="governance__block">
      <div class="governance__title">
        <a href="{{relative_path}}documents/1023_filing.pdf" target="_blank">1023 Filing</a>
        <span class="governance__date">JAN 14, 2017</span>
      </div>
      <div class="governance__text">
         Application to the IRS for federal tax-exempt 501(c)(3) public charity status.
      </div>
    </div>

    {{!-- Financials --}}
    {{!-- <div class="governance__block">
      <div class="governance__title">
         Quaterly Financials
        <span class="governance__date">MAR 26, 2017</span>
      </div>
      <div class="governance__text">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div> --}}

    {{!-- Audit --}}
    {{!-- <div class="governance__block">
      <div class="governance__title">
         2016 Audit Reports
        <span class="governance__date">MAR 26, 2017</span>
      </div>
      <div class="governance__text">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div> --}}

    {{!-- Tax --}}
    {{!-- <div class="governance__block">
      <div class="governance__title">
         2016 Tax Filing
        <span class="governance__date">JAN 14, 2017</span>
      </div>
      <div class="governance__text">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div> --}}

    {{!-- Post Options --}}
    <div class="governance__block governance__center">
      <div class="governance__post">Older Posts</div>
      <div class="governance__post governance__post--center">Newer Posts</div>
      <div class="governance__post"></div>
    </div>

  </div>

</div>

<script src="{{relative_path}}js/donate.js"></script>