<div class="home__section">
	<h1 class="home__title">Welcome to PublicNTP</h1>
	<p class="home__sub-title">
		PublicNTP provides unrestricted access to no-cost, highly-accurate time sources for the public good.
	</p>
</div>

<div class="home__section">
	<div class="home">
		<div class="home__world">
			<div class="home__signal-wrap">
				<div class="home__signal"></div>
				<div class="home__signal-bar"></div>
				<div class="home__signal-ball"></div>
			</div>
			<div class="home__signal-wrap home__signal-flip">
				<div class="home__signal"></div>
				<div class="home__signal-bar"></div>
				<div class="home__signal-ball"></div>
			</div>
			<img class="home__world-image" src="{{relative_path}}images/globe.svg" alt="World"> {{#each locations}}
			<div class="home__location {{this.className}}" id="location-{{@index}}">
				<div class="home__location-ball"></div>
				{{#if this.multiple}}
				<div class="home__location--outer">
					{{!--
					<div class="home__location--multiple"></div> --}}
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
		<div class="home__sidebar">
			<h2 class="home__sidebar-title">Servers</h2>
			{{#each locations}}
			<div class="home__sidebar-wrap" id="side-location-{{@index}}">
				<h4 class="home__sidebar-sub-title">{{this.city}}</h4>
				<p class="home__info">
					Continent:
					<span class="home__emph">{{this.continent}}</span>
				</p>
				<div class="node-clear"></div>
				<p class="home__info">
					Country:
					<span class="home__emph">{{this.country}}</span>
				</p>
				<div class="node-clear"></div>
				<div class="home__spacer"></div>
				<p class="home__info">
					Live Date:
				</p>
				<p class="home__item">
					{{{this.liveDate}}}
				</p>
				<div class="node-clear"></div>
				<div class="home__spacer"></div>
				<p class="home__info">
					Hostname{{#if this.IPv6}} (IPv6){{/if}}:
				</p>
				<p class="home__item"> {{{this.hostname}}}</p>
				<div class="node-clear"></div>
				<p class="home__info">
					Software:
				</p>
				<p class="home__item">
					{{#if this.NTPsec}}
					<a href="https://www.ntpsec.org/">NTPsec</a>
					{{else}}
						<a href="http://nwtime.org/projects/ntp/">NTP Reference Implementation</a>,
						<br/>
						<a href="http://networktimefoundation.org/">Network Time Foundation</a>
					{{/if}}

				</p>

				{{!--
				<div class="node-clear"></div>
				<p class="home__info">
					Latency:
				</p>
				<p class="home__item">
					{{this.time}}
				</p> --}}
			</div>
			{{/each}}
		</div>
	</div>
</div>

<div class="home__section">
	<h1 class="home__title home__title--right">PublicNTP Experience</h1>
</div>
<div class="home__blog--wrap">
	<div class="home__blog">
		<a href="{{relative_path}}blog/posts/{{post.permalink}}.html">
			<h4 class="home__blog-title">{{post.title}}</h4>
		</a>
		<a href="{{relative_path}}blog/posts/{{post.permalink}}.html">
			{{#if post.image_urls}}
			<div class="swiper-container home__blog-image__wrap">
				<div class="swiper-wrapper">
					{{#each post.image_urls}}
					<img class="swiper-slide home__blog-image" src="{{relative_path}}{{this.url}}" alt="{{this.alt}}"> {{/each}}
				</div>
			</div>
			{{/if}}
		</a>
		<p class="home__blog-p">{{post.excerpt}}</p>
	</div>
</div>
<div class="home__section">
</div>
<div class="home__section">
</div>
<script defer src="{{relative_path}}js/swiper.min.js"></script> {{!--
<script src="{{relative_path}}js/ping.min.js"></script> --}}
<link rel="stylesheet" href="{{relative_path}}css/swiper.min.css">
<script defer src="{{relative_path}}js/home.js"></script>
