<div class="home__section">
  <a href="{{relative_path}}learn.html" class="blog-detail__back">
    Back
    <img class="blog-detail__back-icon" src="{{relative_path}}images/back.svg" alt="Back Arrow">
  </a>
  <h1 class="home__title">Leap Seconds</h1>
  <p class="home__sub-title">
    Terry D. Ott - 2018-01-21 @ 4:32pm EST (UTC -0500)
  </p>
</div>
<div class="home__section">
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">Motivation</h4>
      <p class="how__p">
        As discussed in the “What Is A Second” post, Coordinated Universal Time (UTC) maintains a connection to both the frequency
        which electrons in an atom change energy levels (which is extremely stable), and the rotational speed of the earth
        (which is much less stable).
      </p>
      <p class="how__p">
        In order to allow UTC to closely track to mean solar time (technically “UT1,” see the “Time Scales” post for more information),
        seconds occasionally need to be added or removed from UTC.
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-frog.jpg" alt="PublicNTP Frog">
    </div>
  </div>
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">Unpredictable Nature</h4>
      <p class="how__p">
        Unfortunately, even the rate with which the earth’s rotational rate is changing is not stable or predictable. As the rotational
        rate is affected by events that happen in nature, such as climatic and geological events, there is no ability to
        predict these changes.
      </p>
      <p class="how__p">
        As such, the rotational rate is closely monitored, and leap seconds are added as needed to keep UTC and UT1 in sync.
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-miniglobe.jpg" alt="PublicNTP Globe">
    </div>
  </div>
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">History of adding leap seconds</h4>
      <p class="how__p">
        Leap seconds can only be added to UTC at two times a year: June 30 and/or December 31st.
      </p>
      <p class="how__p">
        Since UTC was formalized in 1972, 27 positive leap seconds and zero negative leap seconds have been added (which indicates
        the earth’s rotational rate has only slowed since 1972, but that’s not a trend that’s certain to continue!).
      </p>
      <p class="how__p">
        As of this publication, the most recent leap second added was on Dec 31, 2016. The next possible opportunity for a leap second
        is December 31, 2018, though it has not been announced if a leap second will be added on that date yet.
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-book.jpg" alt="PublicNTP Book">
    </div>
  </div>
</div>