<div class="home__section">
	<h1 class="home__title">Rediscover Time</h1>
	<p class="home__sub-title">
		Have you ever wondered how GPS or an atomic clock works? How did we decide how long a second is? Well, now you know.
	</p>
</div>

<div class="home__section">
	<div class="category">
		<a href="{{relative_path}}learn/time-scales.html">
			<img src="{{relative_path}}images/learn-ruler.jpg" class="category__image" alt="Clock">
		</a>
		<h3 class="category__title">
			Time Scales
		</h3>
		<div class="node-clear"></div>
		<a href="{{relative_path}}learn/time-scales.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="{{relative_path}}learn/atomic-clock.html">
			<img src="{{relative_path}}images/learn-atom.jpg" class="category__image" alt="atom">
		</a>
		<h3 class="category__title">
			How Does an Atomic Clock Work?
		</h3>
		<div class="node-clear"></div>
		<a href="{{relative_path}}learn/atomic-clock.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="{{relative_path}}learn/amazing-atomic-clock.html">
			<img src="{{relative_path}}images/learn-tv.jpg" class="category__image extra-padding" alt="TV">
		</a>
		<h3 class="category__title">
			The Amazing Atomic Clock
		</h3>
		<div class="node-clear"></div>
		<a href="{{relative_path}}learn/amazing-atomic-clock.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="{{relative_path}}learn/what-is-a-second.html">
			<img src="{{relative_path}}images/learn-watch.jpg" class="category__image" alt="Clock">
		</a>
		<h3 class="category__title">
			What Is A Second?
		</h3>
		<div class="node-clear"></div>
		<a href="{{relative_path}}learn/what-is-a-second.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="{{relative_path}}learn/chrono-and-friends.html">
			<img src="{{relative_path}}images/learn-tallclock.jpg" class="category__image" alt="Clock">
		</a>
		<h3 class="category__title">
			“-Ology-of-ologies”: Chrono and Friends
		</h3>
		<div class="node-clear"></div>
		<a href="{{relative_path}}learn/chrono-and-friends.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="{{relative_path}}learn/leap-seconds.html">
			<img src="{{relative_path}}images/learn-frog.jpg" class="category__image" alt="Rock">
		</a>
		<h3 class="category__title">
			Leap Seconds
		</h3>
		<div class="node-clear"></div>
		<a href="{{relative_path}}learn/leap-seconds.html" class="category__button">Learn More</a>
	</div>
	<div class="category">
		<a href="{{relative_path}}learn/time-zones.html">
			<img src="{{relative_path}}images/learn-zone.jpg" class="category__image" alt="Clock">
		</a>
		<h3 class="category__title">
			Time Zones
		</h3>
		<div class="node-clear"></div>
		<a href="{{relative_path}}learn/time-zones.html" class="category__button">Learn More</a>
	</div>
</div>