<div class="home__section">
  <a href="{{relative_path}}learn.html" class="blog-detail__back">
    Back
    <img class="blog-detail__back-icon" src="{{relative_path}}images/back.svg" alt="Back Arrow">
  </a>
  <h1 class="home__title">Time Zones</h1>
  <p class="home__sub-title">
    Terry D. Ott - 2017-06-27, 7:58pm EDT (UTC -0400)
  </p>
</div>
<div class="home__section">
  <img src="{{relative_path}}images/learn-color-map.jpg" class="how__full" alt="Time Zones">
</div>

<div class="home__section">
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">What Is a Time Zone?</h4>
      <p class="how__p">
        A time zone is a region of the earth where all the clocks are set to the same time. This is done for two purposes: to ensure
        that “noon” doesn’t occur in the middle of the night, and to support legal/business/social needs for those in the
        same time zone.
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-earth.jpg" alt="PublicNTP Earth">
    </div>
  </div>
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">History of Time Zones</h4>
      <p class="how__p">
        The need for time zones was a factor of the world becoming more connected. As railroads made longer-distance travel possible,
        and as train schedules needed to be published, railroad companies started to keep their own time to set the clocks
        at the station.
      </p>
      <p class="how__p">
        By 1900, most of the world recognized some standard time zone, but most were relative to the time at a local observatory.
        By 1929, the majority of the world had adopted time zones that were measured as an offset from the time in Greenwich,
        England (Greenwich Mean Time, or GMT).
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-book.jpg" alt="PublicNTP Book">
    </div>
  </div>
  <div class="learn">
    <div class="learn__left">
      <h4 class="how__t">Daylight Saving Time</h4>
      <p class="how__p">
        Several parts of the world, primarily North America and Europe, advance the clocks during summer (typically one hour, though
        exceptions do exist). The original proponents for daylight saving time claimed a number of projected benefits from
        increasing the number of evening hours with daylight during the summer months.
      </p>
    </div>
    <div class="learn__right">
      <img class="learn__image" src="{{relative_path}}images/learn-sun.jpg" alt="PublicNTP Sun">
    </div>
  </div>
</div>